.initalPage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.initalPage-container img {
  width: 400px;
}
