.header-container {
  width: 400px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container h2 {
  color: var(--primary);
}

.header-container button {
  background-color: var(--primary);
  color: #fff;
  border-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.header-container button:hover {
  opacity: 0.8;
}
